body {
    text-align: center;
    padding-top: 300px margin:0;
}

#welcome {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(cyan 0%, green 100%);
    font-family: 'Great Vibes', cursive;
    color: #bf6de3
}

.welcome-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.profile {
    height: 250px;
    width: 200px;
    margin-bottom: solid 5px;
    border-radius: 25;
    text-align: center
}

#bio {
    font-family: 'Playfair Display', serif;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 400px;
}
